<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="{% static 'logins.css'%}"> -->
    <link rel="stylesheet" href="logins.css">
</head>
<body>
    <!-- {% if user.is_authenticated %}
    {% csrf_token %} -->
    <!-- <h1>succesfull login</h1> -->
    
    <!-- <h1>wront user name and passwords</h1> -->
    <!-- {% else %} -->
    <div class="wrapper">
        <!-- {% url 'apps' %} -->
        <form action="" method="POST">
            <!-- {% csrf_token %} -->
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" name="username" required>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" name="password" required>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox" required>Remember Me</label>
                <a href="#">Forgot Password</a>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Dont have an account? <a href="#">Regester</a></p>
            </div>

            <!-- {% if messages %}
                {% for message in messages %} -->
                   <!-- <h1 class="error">{{ message }}</h1> <br> -->
                <!-- {% endfor %}
            {% endif %} -->

        </form>
    </div>
    <!-- {% endif %} -->
</body>
</html>